/* Default light mode styles */

body {
  background-color: #ffffff;
  color: #000000;
}

header h1, header p, section h1, section p {
  color: #000000;
}

.button-container {
  background-color: #f0f0f0;
}

.linkedin-button, .cv-button {
  background-color: #0077B5;
  color: #fff;
}

.linkedin-button:hover {
  background-color: #005082;
}

.linkedin-button:hover span, .cv-button:hover span {
  color: #fff;
}
